@import "../../scss/variables.scss";

.root {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 25px;
  box-sizing: border-box;
  .ingredient{
    padding: 10px;
    margin: 3px;
    background-color: $dark-blue;
    font-size: 1.2rem;
    color: $white;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 5px;
    
  }
}
